@font-face {
  font-family: "Konkhmer Sleokchher";
  src: url(../../../fonts/konkhmer-sleokchher_5.2.6/webfonts/konkhmer-sleokchher-khmer-400-normal.woff);
}

@keyframes moveCloudInfinite {
  0% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8; /* Slight fade in the middle */
  }
  100% {
    /* Move it 120 viewport widths to ensure it goes completely off-screen */
    transform: translateX(100%);
    opacity: 0;
  }
}

.main {
  width: 100%;
  max-height: 100%;
  background: linear-gradient(#fff 2%, #4fc2f8, #4fc2f8, #4fc2f8);
  position: relative;
}

.main__title {
  font-family: Konkhmer Sleokchher, fantasy, sans-serif;
  color: #fff;
  height: 142px;
  font-size: 88px;
  line-height: 150px;
  text-decoration: solid;
  text-shadow: -8px 7px 11px #000;
  display: flex;
  margin: 0;
}

.main__title-welcome {
  justify-content: center;
  position: relative;
  top: 300px;
  transition: opacity 1.5s linear;
}

/* EXAMPLE CLASS
  The below class is the "cloud" which is just a oval
 .cloud {
Assuming a white background for visibility
    background: #fff; 
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
    Use transform for smooth movement
    transform: translate(0, 0); 
} 

 Define different sizes/positions for variety
.cloud-1 {
    width: 120px;
    height: 60px;
    top: 20px;
    Start off-screen to the left
    left: -150px;
    animation: moveClouds 25s linear infinite;
    animation-delay: 0s;
}*/

.main__cloud-container {
  width: 100%;
  max-height: 2000px;
  overflow: hidden;
  position: relative;
  z-index: 20;
}

.main__cloud-animation {
  animation: moveCloudInfinite 25s linear infinite;
  animation-delay: 0s;
}

/* Animation Sytles: 
  Use transform for smooth movement
  transform: translate(0, 0); 
  opacity: 1; 
*/

/* Position Styles + Explantion:
   top: 57vh; 5% of the viewport height from the top 
   right: 62vw;  10% of the viewport width from the right 
   width: 5vw;  The width scales with the screen size
 */

.main__cloud-1 {
  position: absolute;
  top: 57vh;
  right: 53vw;
  width: 100%;
  z-index: 221;
}

.main__cloud-2 {
  position: absolute;
  top: 57vh;
  transform: translate(0, 0);
  opacity: 1;
}

.main__cloud-3 {
  position: absolute;
  top: 75vh;
  opacity: 85%;
}

.main__cloud-4 {
  position: absolute;
  top: 62vh;
  right: 90vw;
  width: 103%;
  transform: translate(0, 0);
  opacity: 1;
}

.main__cloud-5 {
  visibility: hidden;
}

.main__cloud-6 {
  visibility: hidden;
}

.main__cloud-7 {
  visibility: hidden;
}

.main__cloud-8 {
  visibility: hidden;
}

.main__cloud-9 {
  visibility: hidden;
}

.main__cloud-10 {
  visibility: hidden;
}

.main__cloud-11 {
  visibility: hidden;
}

.main__cloud-12 {
  visibility: hidden;
}

.main__cloud-13 {
  visibility: hidden;
}

.main__cloud-14 {
  visibility: hidden;
}

.main__cloud-15 {
  visibility: hidden;
}

.main__cloud-16 {
  visibility: hidden;
}

.main__cloud-17 {
  visibility: hidden;
}

.main__cloud-18 {
  visibility: hidden;
}

.main__cloud-19 {
  visibility: hidden;
}

.main__cloud-20 {
  visibility: hidden;
}

.main__cloud-21 {
  visibility: hidden;
}

.main__cloud-22 {
  visibility: hidden;
}

.main__cloud-23 {
  visibility: hidden;
}

/* @media screen and (max-width: 1710px) and (min-width: 1301px) {
  .main__cloud-1 {
    visibility: hidden;
  }

  .main__cloud-2 {
    visibility: hidden;
  }

  .main__cloud-3 {
    visibility: hidden;
  }

  .main__cloud-4 {
    visibility: hidden;
  }

  .main__cloud-5 {
    visibility: hidden;
  }

  .main__cloud-6 {
    visibility: hidden;
  }

  .main__cloud-7 {
    visibility: hidden;
  }

  .main__cloud-8 {
    visibility: hidden;
  }

  .main__cloud-9 {
    visibility: hidden;
  }

  .main__cloud-10 {
    visibility: hidden;
  }

  .main__cloud-11 {
    visibility: hidden;
  }

  .main__cloud-12 {
    visibility: hidden;
  }

  .main__cloud-13 {
    visibility: hidden;
  }

  .main__cloud-14 {
    visibility: hidden;
  }

  .main__cloud-15 {
    visibility: hidden;
  }

  .main__cloud-16 {
    visibility: hidden;
  }

  .main__cloud-17 {
    visibility: hidden;
  }

  .main__cloud-18 {
    visibility: hidden;
  }

  .main__cloud-19 {
    visibility: hidden;
  }

  .main__cloud-20 {
    visibility: hidden;
  }

  .main__cloud-21 {
    visibility: hidden;
  }

  .main__cloud-22 {
    visibility: hidden;
  }

  .main__cloud-23 {
    visibility: hidden;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
  .main__cloud-1 {
    visibility: hidden;
  }

  .main__cloud-2 {
    visibility: hidden;
  }

  .main__cloud-3 {
    visibility: hidden;
  }

  .main__cloud-4 {
    visibility: hidden;
  }

  .main__cloud-5 {
    visibility: hidden;
  }

  .main__cloud-6 {
    visibility: hidden;
  }

  .main__cloud-7 {
    visibility: hidden;
  }

  .main__cloud-8 {
    visibility: hidden;
  }

  .main__cloud-9 {
    visibility: hidden;
  }

  .main__cloud-10 {
    visibility: hidden;
  }

  .main__cloud-11 {
    visibility: hidden;
  }

  .main__cloud-12 {
    visibility: hidden;
  }

  .main__cloud-13 {
    visibility: hidden;
  }

  .main__cloud-14 {
    visibility: hidden;
  }

  .main__cloud-15 {
    visibility: hidden;
  }

  .main__cloud-16 {
    visibility: hidden;
  }

  .main__cloud-17 {
    visibility: hidden;
  }

  .main__cloud-18 {
    visibility: hidden;
  }

  .main__cloud-19 {
    visibility: hidden;
  }

  .main__cloud-20 {
    visibility: hidden;
  }

  .main__cloud-21 {
    visibility: hidden;
  }

  .main__cloud-22 {
    visibility: hidden;
  }

  .main__cloud-23 {
    visibility: hidden;
  }
}

@media screen and (max-width: 1024px) and (min-width: 580px) {
  .main__cloud-1 {
    visibility: hidden;
  }

  .main__cloud-2 {
    visibility: hidden;
  }

  .main__cloud-3 {
    visibility: hidden;
  }

  .main__cloud-4 {
    visibility: hidden;
  }

  .main__cloud-5 {
    visibility: hidden;
  }

  .main__cloud-6 {
    visibility: hidden;
  }

  .main__cloud-7 {
    visibility: hidden;
  }

  .main__cloud-8 {
    visibility: hidden;
  }

  .main__cloud-9 {
    visibility: hidden;
  }

  .main__cloud-10 {
    visibility: hidden;
  }

  .main__cloud-11 {
    visibility: hidden;
  }

  .main__cloud-12 {
    visibility: hidden;
  }

  .main__cloud-13 {
    visibility: hidden;
  }

  .main__cloud-14 {
    visibility: hidden;
  }

  .main__cloud-15 {
    visibility: hidden;
  }

  .main__cloud-16 {
    visibility: hidden;
  }

  .main__cloud-17 {
    visibility: hidden;
  }

  .main__cloud-18 {
    visibility: hidden;
  }

  .main__cloud-19 {
    visibility: hidden;
  }

  .main__cloud-20 {
    visibility: hidden;
  }

  .main__cloud-21 {
    visibility: hidden;
  }

  .main__cloud-22 {
    visibility: hidden;
  }

  .main__cloud-23 {
    visibility: hidden;
  }
}

@media screen and (max-width: 579px) and (min-width: 320px) {
  .main__cloud-1 {
    visibility: hidden;
  }

  .main__cloud-2 {
    visibility: hidden;
  }

  .main__cloud-3 {
    visibility: hidden;
  }

  .main__cloud-4 {
    visibility: hidden;
  }

  .main__cloud-5 {
    visibility: hidden;
  }

  .main__cloud-6 {
    visibility: hidden;
  }

  .main__cloud-7 {
    visibility: hidden;
  }

  .main__cloud-8 {
    visibility: hidden;
  }

  .main__cloud-9 {
    visibility: hidden;
  }

  .main__cloud-10 {
    visibility: hidden;
  }

  .main__cloud-11 {
    visibility: hidden;
  }

  .main__cloud-12 {
    visibility: hidden;
  }

  .main__cloud-13 {
    visibility: hidden;
  }

  .main__cloud-14 {
    visibility: hidden;
  }

  .main__cloud-15 {
    visibility: hidden;
  }

  .main__cloud-16 {
    visibility: hidden;
  }

  .main__cloud-17 {
    visibility: hidden;
  }

  .main__cloud-18 {
    visibility: hidden;
  }

  .main__cloud-19 {
    visibility: hidden;
  }

  .main__cloud-20 {
    visibility: hidden;
  }

  .main__cloud-21 {
    visibility: hidden;
  }

  .main__cloud-22 {
    visibility: hidden;
  }

  .main__cloud-23 {
    visibility: hidden;
  }
} */
