@font-face {
  font-family: "Emblema One";
  src: url(/src/vendor/Emblema_One/EmblemaOne-Regular.ttf);
}

@font-face {
  font-family: "Konkhmer Sleokchher";
  src: url(/src/vendor/konkhmer-sleokchher_5.2.6/webfonts/konkhmer-sleokchher-khmer-400-normal.woff);
}

.modal {
  visibility: visible;
}

.modal__hidden {
  visibility: hidden;
  display: none;
}

.modal__whole-page {
  visibility: visible;
  position: relative;
  z-index: 1;
}

/* This class is for signup/login modals */
.modal__background-gradient {
  background: linear-gradient(#ffffff, #4fc2f8 300px, #ffffff);
  max-height: 450px;
  height: 100vh;
  position: relative;
  z-index: 5;
  padding: 90px;
  overflow: hidden;
}

.modal__background-image {
  position: relative;
  top: 100px;
  left: 100px;
  z-index: 10;
  scale: 3.9;
}

.modal__backdrop {
  background-color: #808080;
  position: relative;
  max-width: 1382px;
  height: 450px;
  box-sizing: border-box;
  border-radius: 20px;
  opacity: 46%;
  z-index: 15;
  bottom: 203px;
  padding: 34px 31px;
}

.modal__form-container {
  background-color: #fff;
  position: relative;
  z-index: 20;
  width: 1136px;
  height: 284px;
  bottom: 620px;
  left: 32px;
  display: flex;
  justify-content: space-between;
  padding: 49px 31px;
}

.modal__sideBar {
  display: flex;
  flex-direction: column;
  column-gap: 14px;
}

.modal__sideBar-title {
  font-family: Konkhmer Sleokchher;
  font-weight: normal;
  font-size: 28px;
  margin: 0;
  width: 322px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.modal__sideBar-text-signup {
  font-family: Emblema One;
  font-size: 68px;
  color: #4fc2f8;
  width: 322px;
  text-align: center;
  text-shadow: #808080 -4px 4px 5px;
}

.modal__sideBar-text-login {
  font-family: Emblema One;
  font-size: 60px;
  color: #4fc2f8;
  width: 322px;
  text-align: center;
  text-shadow: #808080 -4px 4px 5px;
}

.modal__divider {
  background-color: #4fc2f8;
  width: 5px;
  position: relative;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 792px;
  height: 50px;
}

.modal__form-title {
  margin: 0;
  font-family: Konkhmer Sleokchher;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
}

.modal__form-body {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.modal__form-body-input {
  background-color: #808080;
  opacity: 30%;
  border: none;
  border-radius: 25px;
  width: 792px;
  height: 40px;
  color: #fff;
  font-family: Konkhmer Sleokchher;
  text-align: center;
  font-size: 30px;
}

.modal__form-body-input::placeholder {
  color: #000;
  font-family: Konkhmer Sleokchher;
  text-align: center;
  font-size: 30px;
  height: 37px;
  position: relative;
}

.modal__form-body-date {
  width: 345px;
}

.modal__form-button {
  color: #fff;
  font-family: Konkhmer Sleokchher;
  text-align: center;
  font-size: 30px;
  background-color: #4fc2f8;
  border-radius: 20px;
  height: 40px;
  width: 300px;
  margin: 15px auto 0;
}

/* This class is for 'Popup' modals */
.modal__popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 74%);
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.modal__popup-form {
  position: relative;
  margin: auto;
  top: 60px;
  background-color: #fff;
  border-radius: 20px;
  width: 900px;
  height: 420px;
}

.modal__popup-header-container {
  display: flex;
  flex-direction: column;
}

.modal__popup-close-btn {
  background-image: url("../../images/close_icon.png");
  width: 20px;
  height: 20px;
  display: flex;
  align-self: flex-end;
  position: relative;
  top: 15px;
  right: 15px;
}

.modal__popup-title {
  font-family: Konkhmer Sleokchher;
  font-size: 32px;
  color: #000;
  margin: 0;
  padding: 12px 0 42px 57px;
}

.modal__popup-body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  text-align: center;
}

.modal__popup-dates-container {
  display: flex;
  column-gap: 90px;
  justify-content: center;
}

.modal__popup-button {
  color: #fff;
  font-family: Konkhmer Sleokchher;
  font-size: 30px;
  background-color: #4fc2f8;
  border-radius: 20px;
  height: 40px;
  width: 300px;
  margin: 25px auto 0;
  display: flex;
  justify-content: center;
}

/*
@media screen and (max-width: 1024px) {
  .modal__background-image {
  }
} */
