@font-face {
  font-family: "Emblema One";
  src: url(../../../fonts/Emblema_One/EmblemaOne-Regular.ttf);
}

@font-face {
  font-family: "Konkhmer Sleokchher";
  src: url(../../../fonts/konkhmer-sleokchher_5.2.6/webfonts/konkhmer-sleokchher-khmer-400-normal.woff);
}

h3,
p {
  margin: 0;
}

.home-page__container {
  display: flex;
  justify-content: space-evenly;
}

.home-page__sidebar {
  width: 349px;
  display: flex;
  justify-content: center;
  padding: 34px 32px;
}

.home-page__divider {
  background-color: #4fc2f8;
  width: 5px;
  position: relative;
}

.home-page__trip-creation {
  width: 1090px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.home-page__search-bar-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.home-page__create-title {
  font-family: Konkhmer Sleokchher, fantasy, sans-serif;
  font-size: 43px;
  color: #fff;
}

.home-page__create-btn {
  background-color: #808080;
  opacity: 30%;
  border: none;
  border-radius: 25px;
  width: 792px;
  height: 40px;
  color: #fff;
  font-family: Konkhmer Sleokchher, fantasy, sans-serif;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.home-page__text {
  font-family: Konkhmer Sleokchher, fantasy, sans-serif;
  font-size: 30px;
  color: #fff;
}

.home-page__mapbox-group {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.home-page__create-btn:hover {
  background-color: #4fc2f8;
}

.home-page__globe-title {
  height: 65px;
  font-family: Konkhmer Sleokchher, fantasy, sans-serif;
  font-size: 43px;
  color: #fff;
}

.home-page__mapbox {
  width: 100%;
}

@media screen and (max-width: 1255px) {
  .home-page__create-btn {
    width: 500px;
  }

  .home-page__globe-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 980px) {
  .home-page__sidebar {
    width: 209px;
    padding: 20px;
  }

  .home-page__create-btn {
    width: 300px;
  }

  .home-page__globe-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .home-page__sidebar {
    width: 98px;
    padding: 20px;
  }
}
