@font-face {
  font-family: "Emblema One";
  src: url(/src/vendor/Emblema_One/EmblemaOne-Regular.ttf);
}

@font-face {
  font-family: "Konkhmer Sleokchher";
  src: url(/src/vendor/konkhmer-sleokchher_5.2.6/webfonts/konkhmer-sleokchher-khmer-400-normal.woff);
}

.home-page {
}

.home-page__container {
  display: flex;
  justify-content: space-evenly;
}

.home-page__sidebar {
  width: 349px;
  display: flex;
  justify-content: center;
}

.home-page__trip-creation {
  width: 1090px;
}
