@font-face {
  font-family: "Emblema One";
  src: url(../../../fonts/Emblema_One/EmblemaOne-Regular.ttf);
}

@font-face {
  font-family: "Konkhmer Sleokchher";
  src: url(../../../fonts/konkhmer-sleokchher_5.2.6/webfonts/konkhmer-sleokchher-khmer-400-normal.woff);
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__display-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 644px;
  height: 100vh;
}

.sidebar__logo-container {
  display: flex;
}

.sidebar__logo-icon {
  width: 43px;
  height: 38px;
}

.sidebar__logo-name {
  margin: 0;
  font-size: 35px;
  font-family: Emblema One, fantasy, sans-serif;
  color: #000000;
}

/* If you want avatar img to be bigger use the style
  clip-art: 50%; */
.sidebar__display-info-avatar {
  width: 160px;
  height: 160px;
  clip-path: circle(50%);
  margin: 25px 0 15px;
}

.sidebar__display-info-username {
  margin: 0;
  width: 285px;
  height: 60px;
  font-family: Konkhmer Sleokchher, fantasy, sans-serif;
  font-size: 30px;
  color: #4fc2f8;
  overflow: hidden;
  line-height: normal;
  text-overflow: ellipsis;
  text-align: center;
}

.sidebar__logout-btn {
  font-family: Konkhmer Sleokchher, fantasy, sans-serif;
  font-size: 15px;
  color: #000;
}

@media screen and (max-width: 975px) {
  .sidebar__logo-name {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .sidebar__logo-container {
    width: 100px;
  }

  .sidebar__logo-name {
    font-size: 20px;
  }

  .sidebar__display-info-avatar {
    width: 100px;
    height: 100px;
  }
}
